*{
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
	margin:0;
	padding: 0;
}
// Colors
$primary-blue: #0160ba;
$secondary-blue: #1b88f0;
$black:hsl(0, 0, 20);
$gray:hsl(0, 0, 29);
$mid-gray:hsl(0, 0, 70%);
$light-gray:hsl(0, 0, 95%);
$white:#ffffff;
// Keyframes
@keyframes loadUp{
	from{
		opacity: 0;
		transform:translateY(20px);
	}
	to{
		opacity:1;
  		transform:translateY(0px);
	}
}
@keyframes loadLeft{
	from{
		opacity: 0;
		transform:translateX(200px);
	}
	to{
		opacity:1;
  		transform:translateX(none);
	}
}
@keyframes loadRight{
	from{
		opacity: 0;
		transform:translateX(20px);
	}
	to{
		opacity:1;
  		transform:translateX(none);
	}
}
%loadUp{
	animation:loadUp 1s;
}
%loadLeft{
	animation:loadLeft 1s;
}
%loadRight{
	animation:loadRight 1s;
}
.loadUp{
	@extend %loadUp;
}
.loadRight{
	@extend %loadRight;
}
html{
	font-size: 1.25em;
	line-height: 1.25;
}
img{
	height: auto;
	width:100%;
}
body{
	display: flex;
	flex-direction:column;
	justify-content:space-around;
	overflow-x:hidden;
}
ul {
    list-style: none;
}
section{
	padding: 1.5rem 0;
	&.recent-work{
		margin-bottom: 1rem;
		padding:1rem 0;
	}
	&.title{
		margin-bottom: .3rem;
		padding:.5rem;
	}
}
.action{
	opacity: 0;
}
h1{
	color:$black;
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: -2px;
}
h2,
.h2{
	color:$white;
	font-size:1rem;
	font-weight: 400;
	margin-bottom: 1rem;
	&.big{
		color:$light-gray;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 2.8rem;
		font-weight: 700;
		letter-spacing: -2px;
		line-height: 1;
		margin-top: -11px;
		text-transform: uppercase;
		white-space: nowrap;
	}
}
.slide-right{
	margin-left:-1000px;
	transition:all 1s ease;
	&.activate{
		margin-left: 0;
		opacity: 1;
	}
}
p{
	line-height: 1.45;
}
a{
	color: $secondary-blue;
	text-decoration: none;
	&:hover{
		color:$primary-blue;
	}
}
hr{
	border: 1px solid $light-gray;
	margin:3px 0 10px;
}
header{
	box-shadow: 0 0px 10px 0 #cacaca;
	padding: 10px 0 5px;
	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
}
.mr-5{
	margin-right: 5px!important;
}
.mr-15{
	margin-right: 15px!important;
}
.pl-15{
	padding-left: 15px!important;
}
.pr-15{
	padding-right: 15px!important;
}
.px-15{
	padding-left: 15px!important;
	padding-right: 15px!important;
}
.py-15{
	padding-bottom: 15px!important;
	padding-top: 15px!important;
}
.p-15{
	padding:15px;
}
.large-up{
	display: none;
}
.header,
.main-width{
	width: 90%;
}
.header, .main{
	align-items:center;
	display: flex;
	justify-content:space-between;
}
.main{
	flex-direction:column;
	justify-content:center;
}
.main-logo img{
	max-width: 90%;
	height: 8vh;
}
.hi{
	display: flex;
	flex-direction:column;
	justify-content:flex-start;
	flex:0 0 35rem;
	padding: 0 15px;
	h1{
		font-size: 2.2rem;
		font-weight: 700;
		line-height: 1.2;
		margin: 1.3rem 0 2rem;
	}
	p{
		margin-bottom: 2rem;
		text-transform: uppercase;
	}
	img{
		// display: none;
		margin-top: 0;
		position: relative;
		z-index: 100;
	}
	.dots:before,	
	.dots:after{
		content: url(../img/dots.png);
		position: absolute;
		top:60%;
		left:0;
		z-index: 99;
	}
	.dots:before{
		display: none;
		top:65%;
		left:-10%;
		overflow: hidden;
	}
} 
.button{
	background: $primary-blue;
	border:2px solid $primary-blue;
	border-radius: 50px;
	color:$white;
	font-size: .7rem;
	margin: 0 10px 1rem 0;
	padding:.5rem 1rem .5rem 1.1rem;
	position: relative;
	text-decoration: none;
	transition:background .3s;
	&:hover{
		background: $secondary-blue;
		border: 2px solid $secondary-blue;
	}
	&.outline{
		background: $white;
		border:2px solid $primary-blue;
		color:$primary-blue;
		transition:background .3s;
		&:hover{
			background: $primary-blue;
			color: $white;
			.arrow{
				fill:$white;
			}
		}
	}
}
.arrow{
	margin-left: 8px;
	margin-bottom: -6px;
	width: 11px;
}
.hi .button.outline{
	margin-right: 0;
}

.slide-up.activate{
	@extend %loadUp;
	opacity: 1;
}
.hi img{
	animation:loadLeft 1s;
}
.hi-text{
	@extend %loadUp;
	margin-bottom: 50px;
	z-index: 100;
}
.primary-blue,
.primary-gray{
	background: $primary-blue;
	z-index: 100;
	h1{
		color: $white;
	}
	h2{
		margin-bottom: 0;
		margin-top: .5rem;
	}
}
.primary-gray{
	background: $light-gray;
	h2,
	.h2{
		color: $black;
	}
}
.secondary-blue{
	background: $secondary-blue;
	p{
		color:$white;
	}
}
section.primary-blue,
section.primary-gray,
section.secondary-blue{
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	.description{
		max-width: 90%;
	}
}
.top-menu{
	background: $white;
	justify-content:space-around;
	align-items:center;
	display: flex;
	flex-direction:column;
	height: 99vh;
	left:0;
	position: absolute;
	top:1vh;
	width:100%;
	transform:translateX(100%);
	transition: transform .5s ease-in;
	z-index: 1000;
	a{
		color: $gray;
		font-size: .8rem;
		letter-spacing: 2px;	
		opacity: 0;
		position: relative;
		text-transform: uppercase;
		transition: color 0.3s;
		&:before{
			font-size: .7rem;
			position: absolute;
			top: 115%;
			left: 50%;
			color: transparent;
			content: '•';
			text-shadow: 0 0 transparent;
			-webkit-transition: text-shadow 0.3s, color 0.3s;
			-moz-transition: text-shadow 0.3s, color 0.3s;
			transition: text-shadow 0.3s, color 0.3s;
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			transform: translateX(-50%);
			pointer-events: none;
		}
		&:hover::before, &:focus::before {
			color: $gray;
			text-shadow: 15px 0 $gray, -15px 0 $gray;
		}
	}
	&.nav-active{
		transform:translateX(0%);
	}
}
@keyframes navLinkFade{
	from{
		opacity: 0;
		transform:translateX(50px);
	}
	to{
		opacity: 1;
		transform:translateX(0px);
	}
}
.burger{
	display: block;
	z-index: 1001;
	&:hover{
		cursor: pointer;
	}
}
.burger div{
	background: $gray;
	border-radius: 1px;
	height:2px;
	margin:6px;
	transition: all .3s ease;
	width:25px;
}
.toggle .line1{
	transform:rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
	opacity:0;
}
.toggle .line3{
	transform:rotate(45deg) translate(-5px, -6px);
}
.example1, .example2{
	background: $light-gray;
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	margin-bottom: 20px;
	.example1imgs, .example2imgs{
		background: $gray;
		margin: .5rem .5rem 1rem .5rem;
		padding:.5rem;
		transition:all .3s;
		&:hover{
			background: #ddd;
			margin-top:.6rem;
		}
	}
	p{
		font-size: .9rem;
	}
	p.small-header{
		font-size: 1.2rem;
		font-weight: 700;
		margin-bottom: 1rem;
	}
}
a.read-more{
	background: $primary-blue;
	color:$white;
	font-size: .8rem;
	margin-top: 15px;
	padding: 15px 15px 15px 5%;
	text-transform: uppercase;
	transition:background .3s, margin .5s;
	&:hover{
		background: $secondary-blue;
		.arrow{
			margin-left: 10px;
		}
	}
}
.posts{
	display: flex;
	justify-content:center;
}
.post-list{
	li{
		border: 1px solid #f1f1f1;
		box-shadow: 1px 2px 15px 3px $light-gray;
		margin: 0 1rem 2rem 1rem;
		padding: 2rem 2rem 1rem;
		&:first-child{
			margin-left: 0;
			opacity: 1;
		}
	}
	h2{
		margin-bottom: .5rem;
	}
	.post-meta{
		color: $mid-gray;
		display: block;
		font-size: .8rem;
		margin-bottom: 15px;
	}
	a.read-more{
		display: block;
		font-size: .7rem;
		margin: 2rem 0 0 0;
		padding: .5rem .8rem;
		max-width:135px;
	}
	p{
		margin-bottom: 15px;
	}
}
.tags{
	color: $mid-gray;
	font-size: .8rem;
}
.blog h2.big{
	font-size: 5.2rem;
}

section{

	&.recent-work{

		.example1,
		.example2{

		}
		&.work{
			.example1{
				
			}
			.example2{
				
			}
			& .main-width{
				width:100%;
			}
		}
	}
	&.blue-header{

	}
}

footer.big{
	background: $light-gray;
	display: flex;
	justify-content:center;
	padding:2rem 0 3rem;
	.copyright{
		font-size: .7rem;
	}
	div{
		padding: 1rem 0;
	}
	h3{
		font-weight: 400;
		margin-bottom: 1.5rem;
	}
	ul{
		font-size: .9rem;
		li{
		background: url(../img/bullet-arrow.svg) 0 3px no-repeat;
		margin: 10px 0;
		padding-left: 35px;
		}
	}
	.main-width{
		display: flex;
		flex-direction:column;
	}
	.social{
		display: flex;
		flex-direction:row;
		justify-content:space-around;
		padding: 0;
		img{
			-webkit-transition: .2s ease-in-out;
		    -moz-transition: .2s ease-in-out;
		    -ms-transition: .2s ease-in-out;
		    -o-transition: .2s ease-in-out;
		    transition: .2s ease-in-out;
		    &:hover{
		    	-webkit-transform: rotate(10deg);
				-moz-transform: rotate(10deg);
				-ms-transform: rotate(10deg);
				-o-transform: rotate(10deg);
				filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
				opacity: .7;
		    }
		}
	}
	img{
		min-width: 40px;
	}
}
footer.small{
	background: $black;
	color: $white;
	padding:1rem 15px;
	text-align: center;
	p{
		font-size: .7rem;
	}
}

@media only screen and (min-width: 40.063em) {
	header{
		box-shadow: none;
		padding: 10px 0;
	}
	h1{
		font-size: 3.5rem;
		letter-spacing: -4px;
	}
	h2,
	.h2{
		font-size:1.3rem;
		&.big{
			font-size: 7rem;
			letter-spacing: -5px;
			margin-top:-33px;
		}
	}
	.burger{
		display: none;
	}
	.top-menu{
		display: flex;
		flex-direction:row;
		height:8vh;
		justify-content:space-around;
		position: relative;
		top:0;
		width:50%;
		transform:translateX(0%);
		a{
			opacity: 1;
		}
	}
	.hi h1{
		font-size: 4.2rem;
	}
	.hi .dots:before,	
	.hi .dots:after{
		content: url(../img/dots-big.png);
		display: block;
		position: absolute;
		top:76%;
		left:76%;
		z-index: 99;
	}
	.hi .dots:before{
		top:65%;
		left:-10%;
	}
	a.read-more{
		margin-left: 67%;
		max-width: 33%;
	}
	section{
		&.title{
			margin-bottom: 1.8rem;
			padding: 1.5rem;
		}

		&.recent-work{

			.example1,
			.example2{

			}
			&.work{
				.example1{
					margin:0 2% 20px 0;
					width:50% - 2%;
				}
				.example2{
					margin: 0 0 20px 2%;
					width:50% - 2%;
				}
				& .main-width{
					display: flex;
					flex-wrap:wrap;
				}
			}
		}
		&.blue-header{

		}
	}
	footer.big{
		img{
			width:70px;
		}
	}

}
@media only screen and (min-width: 64em) {
	h2,
	.h2{
		font-size:1.75rem;
		&.big{
			font-size: 9rem;
			letter-spacing: -10px;
			margin-bottom: 2rem;
		}
	}
	.top-menu{
		width:40%;
	}
	.header,
	.hi,
	.secondary-blue .description,
	.main-width,
	section.recent-work.work .main-width{
		width: 55rem;
	}
	section{
		padding: 8rem 0;
		width:100%;
		&.recent-work{
			display: flex;
			justify-content:space-around;
			padding-top: 0;
			.example1,
			.example2{
				width: 490px;
			}
			&.work{
				.example1{
					
				}
				.example2{
					
				}
				& .main-width{
					display: flex;
					flex-wrap:wrap;
				}
			}
		}
		&.blue-header{
			padding:4rem;
			align-items:flex-start;
		}
	}
	.hi{
		flex-direction:row;
		img{
			margin-top: -135px;
			transform:translateX(20%);
		}
	}
	.post-list{
		a.read-more{
			margin:2rem 0 0 85%;
			min-width: 135px;
		}
	}
	footer.big{
		margin-top: 3.5rem;
		padding: 3rem 0 4rem;
		&.home{
			margin-top: 0;
		}
		div{
			padding: 0;
		}
		.main-width{
			flex-direction:row;
			justify-content:space-between;
		}
	}
}
/* large screens */
@media only screen and (min-width: 90.063em) {
	.header,
	.hi,
	.secondary-blue .description,
	.main-width,
	section.recent-work.work .main-width{
		width: 64rem;
	}
	.large-up{
		display: block;
	}
	.hi{
		.dots:before{
			top:69%;
			left:5%;
		}
	}
	a.read-more{
		padding:15px 15px 15px 6%;
	}
	section{
		&.recent-work{
			.example1,
			.example2{
				width:700px;
			}
		}
	}
	.post-list{
		a.read-more{
			margin:2rem 0 0 88%;
			min-width: 135px;
		}
	}
}
/* xlarge screens */
@media only screen and (min-width: 120.063em) {
	.header,
	.hi,
	.secondary-blue .description,
	.main-width,
	section.recent-work.work .main-width{
		width: 84rem;
	}
	.hi{
		img{
			transform: translateX(71%);
		}
	}
	section{
		&.recent-work{
			.example1,
			.example2{
				width:900px;
			}
		}
	}
}