*{
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
	margin:0;
	padding: 0;
}
// Colors
$primary-blue: #0160ba;
$secondary-blue: #1b88f0;
$black:hsl(0, 0, 20);
$gray:hsl(0, 0, 29);
$light-gray:hsl(0, 0, 97%);
$white:#ffffff;

html{
	font-size: 1.25em;
	line-height: 1.25;
}
body{
	display: flex;
	flex-direction:column;
	justify-content:space-around;
	overflow-x:hidden;
}
section{
	padding: 1rem 0;
}
h1{
	color:$black;
	font-size: 3.5rem;
	letter-spacing: -4px;
}
h2{
	color:$white;
	font-size:1rem;
	font-weight: 400;
	&.big{
		color:$light-gray;
		font-size: 6.5rem;
		font-weight: 700;
		letter-spacing: -5px;
		line-height: 1;
		text-transform: uppercase;
	}
}
a{
	color: $secondary-blue;
	text-decoration: none;
}
header{
	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
}
.large-up{
	display: none;
}
.header{
	width: 90%;
}
.header, .main{
	align-items:center;
	display: flex;
	justify-content:space-between;
}
.main{
	flex-direction:column;
	justify-content:center;
}
.main-logo img{
	padding:10px 20px 0 0;
	max-width: 90%;
	height: 8vh;
}
.hi{
	display: flex;
	flex-direction:column;
	justify-content:flex-start;
	flex:0 0 35rem;
	h1{
		font-size: 2.2rem;
		line-height: 1;
		margin-bottom: 2.8rem;
	}
	p{
		margin-bottom: 2rem;
		text-transform: uppercase;
	}
	img{
		// display: none;
		margin-top: 0;
		position: relative;
		z-index: 100;
	}
	.dots:before,	
	.dots:after{
		content: url(../img/dots-big.png);
		position: absolute;
		top:60%;
		left:76%;
		z-index: 99;
	}
	.dots:before{
		top:65%;
		left:-10%;
	}
} 
.button{
	background: $primary-blue;
	border:2px solid $primary-blue;
	border-radius: 50px;
	color:$white;
	font-size: .8rem;
	margin: 0 10px 1rem 0;
	padding:.5rem 1rem .5rem 1.1rem;
	position: relative;
	text-decoration: none;
	transition:background .3s;
	&:hover{
		background: $secondary-blue;
		border: 2px solid $secondary-blue;
	}
	&.outline{
		background: $white;
		border:2px solid $primary-blue;
		color:$primary-blue;
		transition:background .3s;
		&:hover{
			background: $primary-blue;
			color: $white;
			.arrow{
				fill:$white;
			}
		}
	}
}
.primary-blue{
	background: $primary-blue;
}
.secondary-blue{
	background: $secondary-blue;
}
section.primary-blue,
section.secondary-blue{
	display: flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	.description{
		max-width: 90%;
	}
}
.top-menu{
	background: $white;
	justify-content:space-around;
	align-items:center;
	display: flex;
	flex-direction:column;
	height: 99vh;
	left:0;
	position: absolute;
	top:1vh;
	width:100%;
	transform:translateX(100%);
	transition: transform .5s ease-in;
	z-index: 1000;
	a{
		color: $gray;
		font-size: .8rem;
		letter-spacing: 2px;	
		opacity: 0;
		position: relative;
		text-transform: uppercase;
		transition: color 0.3s;
		&:before{
			font-size: .7rem;
			position: absolute;
			top: 115%;
			left: 50%;
			color: transparent;
			content: '•';
			text-shadow: 0 0 transparent;
			-webkit-transition: text-shadow 0.3s, color 0.3s;
			-moz-transition: text-shadow 0.3s, color 0.3s;
			transition: text-shadow 0.3s, color 0.3s;
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			transform: translateX(-50%);
			pointer-events: none;
		}
		&:hover::before, &:focus::before {
			color: $gray;
			text-shadow: 15px 0 $gray, -15px 0 $gray;
		}
	}
	&.nav-active{
		transform:translateX(0%);
	}
}
@keyframes navLinkFade{
	from{
		opacity: 0;
		transform:translateX(50px);
	}
	to{
		opacity: 1;
		transform:translateX(0px);
	}
}
.burger{
	display: block;
	z-index: 1001;
	&:hover{
		cursor: pointer;
	}
}
.burger div{
	background: $gray;
	border-radius: 1px;
	height:2px;
	margin:6px;
	transition: all .3s ease;
	width:25px;
}
.toggle .line1{
	transform:rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
	opacity:0;
}
.toggle .line3{
	transform:rotate(45deg) translate(-5px, -6px);
}
.recent-work img{
	max-height: 600px;
}
.example1, .example2{
	background: $light-gray;
	.example1imgs, .example2imgs{
		background: $black;
		margin: .5rem .5rem 1rem .5rem;
		padding:.5rem;
	}
	p{
		font-size: .9rem;
	}
	p.small-header{
		font-size: 1.2rem;
	}
}
footer{
	background: $light-gray;
	padding:2rem 0 3rem;
	.copyright{
		font-size: .7rem;
	}
	h3{
		font-weight: 400;
		margin-bottom: .9rem;
	}
	ul{
		font-size: .9rem;
		li{
		background: url(../img/bullet-arrow.svg) 0 3px no-repeat;
		padding-left: 35px;
		}
	}
}
@media only screen and (min-width: 40.063em) {
	h2{
		font-size:1.3rem;
	}
	.burger{
		display: none;
	}
	.top-menu{
		display: flex;
		flex-direction:row;
		height:8vh;
		justify-content:space-around;
		position: relative;
		top:0;
		width:50%;
		transform:translateX(0%);
		a{
			opacity: 1;
		}
	}
	.hi h1{
		font-size: 4.2rem;
	}
}
@media only screen and (min-width: 64em) {
	h2{
		font-size:1.75rem;
	}
	.top-menu{
		width:40%;
	}
	.header, .hi, .secondary-blue .description{
		width: 55rem;
	}
	section{
		padding: 8rem 0;
	}
	.hi{
		flex-direction:row;
		img{
			margin-top: -135px;
			transform:translateX(20%);
		}
	}
}
/* large screens */
@media only screen and (min-width: 90.063em) {
	.header, .hi, .secondary-blue .description{
		width: 64rem;
	}
	.large-up{
		display: block;
	}
	.hi{
		.dots:before{
			top:50%;
			left:5%;
		}
	}
}
/* xlarge screens */
@media only screen and (min-width: 120.063em) {
	.header, .hi, .secondary-blue .description{
		width: 84rem;
	}
	.hi{
		img{
			transform: translateX(71%);
		}
	}
}